@media screen and (max-width: 1024px) {
    .bc-home-skills ul {
        gap: 0.75rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bc-home-skills ul li svg {
        width: 50px;
        height: auto;
    }
}

@media screen and (max-width: 840px) {
    .bc-home-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .bc-home-projects .bc-home-projects-img {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bc-home-projects #macbook-img {
        width: 60vw;
    }

    .bc-home-projects #ipad-img {
        width: 30vw;
    }

    .bc-home-projects #iphone-img {
        width: 18vw;
    }

    .bc-home-skills ul {
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .bc-home-skills ul li svg {
        width: 40px;
    }
}

@media screen and (max-width: 768px) {

    .bc-home-projects #macbook-img {
        width: 70vw;
    }

    .bc-home-projects #ipad-img {
        width: 30vw;
    }

    .bc-home-projects #iphone-img {
        width: 18vw;
    }

    .bc-home-skills ul {
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .bc-home-skills ul li svg {
        width: 40px;
    }
}

@media screen and (max-width: 480px) {
    .bc-home-container {
        padding: 1rem;
    }

    .bc-home-header {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }

    .bc-home-tittle h1 {
        font-size: 1.8rem;
    }

    .bc-home-tittle p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .bc-home-projects .bc-home-projects-img {
        flex-direction: row;
        align-items:baseline;
        gap: 1rem;
    }

    .bc-home-projects #macbook-img {
        width: 90vw;
    }

    .bc-home-projects #ipad-img {
        width: 40vw;
    }

    .bc-home-projects #iphone-img {
        width: 25vw;
    }

    .bc-home-skills ul {
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bc-home-skills ul li img {
        width: auto;
    }

    .bc-home-skills ul li p {
        font-size: 0.8rem;
    }
}