.social ul {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social ul li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;

    color: #b8b8b8;
}

.social ul li a:hover {
    color: #ffffff;
}