:root {
    --color-primary: #1d1d1d;
    --color-secondary: #646464;
    --color-background: #f5f7fa;
    --color-text: #ffffff;
    --color-border: #e0e0e0;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 0.5rem;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}