@import url('./App.css');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-primary);
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  margin-left: 250px;
  padding: 1rem;
  transition: margin 0.3s ease-in-out;
}

section {
  height: auto;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-text);
  padding: 0.5rem 0;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
    padding: 1.5rem;
  }
}